@model Pie;
<h2>@Model.Name</h2> 
<div>
    <img alt="@Model.Name" src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right"> @Model.Price</h3>
        <h3><a>@Model.Name</a></h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
    </div>
    <div class="addToCart">
        <p class="button">
            <a class="btn-primary btn" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.PieId">
                AddToCart
            </a>
        </p>

    </div>
</div>